######################################
# Compiled files
######################################
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.d
*.su
*.lst

######################################
# Build directories
######################################
/build/
/Build/
/Debug/
/Release/

######################################
# STM32CubeIDE
######################################
.settings/
.project
.cproject
.mxproject


######################################
# IDE specific
######################################
.vscode/
.idea/
*.swp
*.swo
*.bak

######################################
# OS generated
######################################
.DS_Store
Thumbs.db

######################################
# Logs
######################################
*.log

######################################
# GCC / Make
######################################
*.depend
*.la
*.lo

######################################
# Debug / temp
######################################
*.tmp
*.temp
*.cache
